.toolbar-logout {
  position: absolute;
  right: 20px;
}

.header-style {
  align-items: center;
  width: 100%;
}

.user-highlight {
  color: greenyellow;
}

.nav-toolbar {
  width: 100% !important;
}

.title-style {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
}
