.header_banner {
  background: url('../../assets/images/header.jpg');
  height: 230px;
  width: 100%;
}

.login-small-font {
  font-size: 75%;
}

::ng-deep .login-button-width {
  width: 150px;
}

.login_card {
  align-content: center !important;
  width: 500px;
  margin-top: 20px;

  .login_text_full_width {
    width: 80%;
  }

  .mat-card {
    padding: 20px;
  }

}

.login_header_banner {
  padding-top: 100px;
  padding-left: 100px;
  font: 500 40px/32px Roboto, "Helvetica Neue", sans-serif;
  color: white;
}
