.login_div {
  height: 85%;

  .header_banner {
    background: url('../../assets/login_header.png') repeat-x left center;
    height: 200px;
    width: 100%;
  }

  .login-small-font {
    font-size: 75%;
  }

  .login-error-message {
    font-size: 16px;
    font-weight: 500;
  }

  ::ng-deep .login-button-width {
    width: 150px;
  }

  .login_card {
    align-content: center !important;
    width: 500px;

    .login_text_full_width {
      width: 80%;
    }

    .mat-card {
      padding: 20px;
      opacity: 999999;
      position: relative;
      margin-top: 50px;
    }

  }

  .login_header_banner {
    display: flex;
    height: 200px;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    color: white;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
  }

  /* .blue-gradient-overlay {
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, #263238, #ECEFF1);
    opacity: 0.5;
    position: absolute;
  } */

  /* .login_section {
    background: url('../../assets/login_bg.png') repeat-x left center;
    width: 100%;
    height: 60%;
    padding-top: 50px;
  } 
 */

  .login_section {
    position: relative;
    background: #fff;
    overflow: hidden;
    height: 80%;
  }

  .login_section:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
    background-image: url('../../assets/login_bg.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /* .checkColor {
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #284770 !important;
    }
  } */
}
