<div class="header_banner">
    <div class="login_header_banner"> {{ loginTitle }} </div>
</div>
<div width="100%" align="center">
    <div class="login_card">
        <mat-card>
            <form class="login_form" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit(loginFormGroup.value)"
                class="form">
                <p>
                    <mat-form-field class="login_text_full_width">
                        <mat-label>Login</mat-label>
                        <input formControlName="loginText" matInput matTooltip="Enter the username" placeholder="Login" autocomplete="off" value=""
                            required>
                        <mat-error *ngIf="loginFormGroup.controls['loginText'].invalid">{{validateLogin()}}</mat-error>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class="login_text_full_width">
                        <mat-label>Password</mat-label>
                        <input formControlName="passwordText" matTooltip="Enter the password" type="password" matInput placeholder="Password"
                            autocomplete="off" value="" required>
                        <mat-error *ngIf="loginFormGroup.controls['passwordText'].invalid">{{validatePass()}}
                        </mat-error>
                    </mat-form-field>
                </p>
                <a href="#"><span class="md-accent">Forgot Password?</span></a>
                <p>
                    <button mat-raised-button color="primary" matTooltip="Login">Login</button>
                </p>
            </form>
        </mat-card>
    </div>
</div>