$searchFieldWidth : 300px;

.marginL {
  margin-left: 22px;
}

.dashboard-title {
  font-size: 20px;
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 15%;
}

::ng-deep .searchField {
  .mat-form-field-wrapper {
    width: $searchFieldWidth !important;
  }
}

::ng-deep .dashboardGrid {
  .mat-header-cell {
    font-weight: 500;
    font-size: 15px;
    color : #000;
  }
}

::ng-deep .searchFieldHeader {
  .mat-card {
    box-shadow: none !important;
    background: none !important;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
  }

}
