$searchFieldWidth : 300px;

::ng-deep .searchField {
  .mat-form-field-wrapper {
    width: $searchFieldWidth !important;
  }
}

::ng-deep .dashboardGrid {
  .mat-header-cell {
    font-weight: bold;
    font-size: 15px;
  }
}

::ng-deep .searchFieldHeader {
  .mat-card {
    box-shadow: none !important;
    background: none !important;
  }
  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none !important;
  }

}
