<app-header></app-header>
<div class="app-form-container">
    <!-- *ngIf="!post; else forminfo" novalidate -->
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
        <div align="center" class="app-form-container-div">
            <mat-card class="mat-card mat-elevation-z3">
                <mat-card-content>
                    <div align="center">
                        <table border="0">
                            <tr>
                                <td class="vAlignTop">
                                    <mat-card class="req-form-card-width">
                                        <mat-card-header align="left">
                                            <mat-card-title>Request Form</mat-card-title>
                                            <!-- <mat-card-subtitle>Please fill all the below fields to generate data
                                            </mat-card-subtitle> -->
                                        </mat-card-header>
                                        <mat-card-content class="mat-card-content req-form-content">
                                            <div>                                                
                                                <mat-form-field appearance="outline">
                                                    <mat-label>File Name</mat-label>                                                    
                                                    <input matInput formControlName="fileName" autocomplete="off"
                                                        required placeholder="File Name">
                                                    <mat-error
                                                        *ngIf="formGroup.controls['fileName'].hasError('required')">
                                                        {{ returnMessage('fileName', false) }}
                                                    </mat-error>
                                                    <mat-hint>{{getFileNameHint()}}</mat-hint>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Destination</mat-label>
                                                    <input matInput formControlName="destination" autocomplete="off"
                                                        placeholder="Destination Path" value="C:\Users\Public\Desktop">
                                                    <!-- <mat-error *ngIf="formGroup.controls['destination'].invalid">
                                                        {{ validateDestination() }}</mat-error> -->
                                                    <mat-hint>{{getDestinationHint()}}</mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <div>
                                                <table class="req-form-content-table" border="0" cellpadding="0"
                                                    cellspacing="0">
                                                    <tr>
                                                        <td class="double-card">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>No. Of Columns</mat-label>
                                                                <input type="number" matInput formControlName="noOfCols"
                                                                    autocomplete="off" placeholder="Number of Columns"
                                                                    value="1">
                                                                <!-- <mat-error
                                                                    *ngIf="formGroup.controls['noOfCols'].hasError('required')">
                                                                    {{ returnMessage('noOfCols', false) }}</mat-error> -->
                                                                <mat-hint>{{getNoOfColsHint()}}</mat-hint>
                                                            </mat-form-field>
                                                        </td>
                                                        <td width="10"></td>
                                                        <td class="double-card">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>No. Of Rows</mat-label>
                                                                <input type="number" matInput formControlName="noOfRows"
                                                                    autocomplete="off" placeholder="Number of Rows"
                                                                    value="1">
                                                                <!-- <mat-error
                                                                    *ngIf="formGroup.controls['noOfRows'].hasError('required')">
                                                                    {{ returnMessage('noOfRows', false) }}</mat-error> -->
                                                                <mat-hint>{{getNoOfRowsHint()}}</mat-hint>
                                                            </mat-form-field>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>

                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Enter Column Delimeter</mat-label>
                                                    <input matInput formControlName="colDelimeter" autocomplete="off"
                                                        placeholder="Enter Column colDelimeter" value=",">
                                                    <!-- <mat-error *ngIf="formGroup.controls['colDelimeter'].invalid">
                                                        {{ validateDelimeter() }}</mat-error> -->
                                                    <mat-hint>{{getColDelimeterHint()}}</mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </td>
                                <td width="5"></td>
                                <td class="vAlignTop">
                                    <mat-card class="length-card-width">
                                        <mat-card-header align="left">
                                            <mat-card-title>Attributes</mat-card-title>
                                            <!-- <mat-card-subtitle>Please select any options below</mat-card-subtitle> -->
                                        </mat-card-header>
                                        <mat-card-content class="mat-card-content length-content-style">
                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Attribute Name</mat-label>
                                                    <input matInput formControlName="attributeName" autocomplete="off"
                                                        placeholder="Enter Attribute Name">
                                                    <!-- <mat-error *ngIf="formGroup.controls['attributeName'].invalid">
                                                        {{ validateAttributeName() }}
                                                    </mat-error> -->
                                                </mat-form-field>
                                            </div>

                                            <!-- <div>
                                                                        <mat-form-field appearance="outline">
                                                                            <mat-label>Data Name</mat-label>
                                                                            <input matInput formControlName="dataName" autocomplete="off"
                                                                                placeholder="Enter Data Name">
                                                                            <mat-error *ngIf="formGroup.controls['dataName'].invalid">
                                                                                {{ validateDataName() }}
                                                                            </mat-error>
                                                                        </mat-form-field>
                                                                    </div> -->

                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Data Type</mat-label>
                                                    <input matInput placeholder="Data Type" aria-label="Data Type"
                                                        [matAutocomplete]="autoDataType" autocomplete="off" formControlName="dataType">
                                                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                                                    <mat-autocomplete #autoDataType="matAutocomplete">
                                                        <mat-option *ngFor="let item of filterDataTypeList | async"
                                                            [value]="item.name">
                                                            <span>{{item.name}}</span>
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                    <!-- <mat-error *ngIf="formGroup.controls['dataType'].invalid">
                                                        {{ validateDataType() }}
                                                    </mat-error> -->
                                                    <!-- <mat-error
                                                                                *ngIf="formGroup.controls['dataType'].hasError('required')">
                                                                                Please select data type
                                                                            </mat-error> -->
                                                    <!-- <mat-hint>{{requestTypeControl.value?.id}}</mat-hint> -->
                                                </mat-form-field>
                                            </div>

                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Data Pattern</mat-label>
                                                    <input matInput formControlName="dataPattern"
                                                        [matAutocomplete]="autoDataPattern" aria-label="Data Pattern"
                                                        autocomplete="off" placeholder="Enter Data Pattern Name">
                                                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                                                    <mat-autocomplete #autoDataPattern="matAutocomplete">
                                                        <mat-option *ngFor="let item of filterDataPatternList | async"
                                                            [value]="item.name">
                                                            <span>{{item.name}}</span>
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                    <!-- <mat-error *ngIf="formGroup.controls['dataPattern'].invalid">
                                                        {{ validateDataPattern() }}
                                                    </mat-error> -->
                                                </mat-form-field>
                                            </div>


                                        </mat-card-content>
                                    </mat-card>
                                </td>
                                <td width="5"></td>
                                <td class="vAlignTop">
                                    <mat-card class="attributeCardWidth">
                                        <mat-card-header align="left">
                                            <mat-card-title>Length & Characters</mat-card-title>
                                            <!-- <mat-card-subtitle>Please select any options below</mat-card-subtitle> -->
                                        </mat-card-header>
                                        <mat-card-content class="mat-card-content attributeContentStyle">

                                            <div>
                                                <table class="attributeCardShortWidth" border="0" cellpadding="0"
                                                    cellspacing="0">
                                                    <tr>
                                                        <td class="smallCardWidth">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Starting From</mat-label>
                                                                <input type="number" matInput
                                                                    formControlName="startingFrom" autocomplete="off"
                                                                    placeholder="Starting From" value="1">
                                                                <!-- <mat-error
                                                                    *ngIf="formGroup.controls['startingFrom'].invalid">
                                                                    {{ validateStartingFrom() }}
                                                                </mat-error> -->
                                                            </mat-form-field>
                                                        </td>
                                                        <td width="10"></td>
                                                        <td class="smallCardWidth">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Ending To</mat-label>
                                                                <input type="number" matInput formControlName="endingTo"
                                                                    autocomplete="off" placeholder="Ending To"
                                                                    value="1">
                                                                <!-- <mat-error
                                                                    *ngIf="formGroup.controls['endingTo'].invalid">
                                                                    {{ validateEndingTo() }}
                                                                </mat-error> -->
                                                            </mat-form-field>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="length-triple-card vAlignTop">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Starting Length</mat-label>
                                                                <input type="number" matInput
                                                                    formControlName="startingLength" autocomplete="off"
                                                                    placeholder="Starting Length" value="1">
                                                                <!-- <mat-error
                                                                    *ngIf="formGroup.controls['startingLength'].invalid">
                                                                    {{ validateStartingLen() }}</mat-error> -->
                                                            </mat-form-field>
                                                        </td>
                                                        <td width="10"></td>
                                                        <td class="length-triple-card vAlignTop">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Ending Length</mat-label>
                                                                <input type="number" matInput
                                                                    formControlName="endingLength" autocomplete="off"
                                                                    placeholder="Ending Length" value="1">
                                                                <!-- <mat-error
                                                                    *ngIf="formGroup.controls['endingLength'].invalid">
                                                                    {{ validateEndingLen() }}
                                                                </mat-error> -->
                                                            </mat-form-field>
                                                        </td>
                                                        <td width="10"></td>
                                                        <td class="length-triple-card vAlignTop">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Fixed Length</mat-label>
                                                                <input type="number" matInput
                                                                    formControlName="fixedLength" autocomplete="off"
                                                                    placeholder="Fixed Length" value="1">
                                                                <!-- <mat-error
                                                                    *ngIf="formGroup.controls['fixedLength'].invalid">
                                                                    {{ validateFixedLen() }}
                                                                </mat-error> -->
                                                            </mat-form-field>
                                                        </td>


                                                    </tr>
                                                </table>
                                            </div>

                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Characters For [...]</mat-label>
                                                    <input matInput formControlName="charactersFor" autocomplete="off"
                                                        placeholder="Enter Characters for">
                                                    <!-- <mat-error *ngIf="formGroup.controls['charactersFor'].invalid">
                                                        {{ validateCharactersFor() }}
                                                    </mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </td>
                            </tr>
                        </table>
                    </div>

                </mat-card-content>
            </mat-card>
            
        </div>

        <div align="center">
            <mat-card class="generate-style">
                <mat-card-content>
                    <p>
                        <button mat-raised-button color="primary"
                            matTooltip="Generate the data">Generate</button>&nbsp;&nbsp;
                        <button mat-raised-button color="secondary" matTooltip="Reset the form"
                            (click)="onReset()">Reset</button>

                        <!-- &nbsp; &nbsp;
    <button mat-raised-button matTooltip="Cancel and Discard changes">Cancel</button> -->
                    </p>
                </mat-card-content>
            </mat-card>
        </div>


    </form>
</div>

<ng-template #forminfo>
    <div class="container">
        {{ post | json }}
    </div>
</ng-template>