$fieldWidth: 300px;
$cardWidth: 300px;
$redColor: red;
$smallCardWidth: 160px;


$triple-card-width: 105px;

$double-card-width : 195px;

$req-form-content-width : 400px;

$attributeContentStyleWidth: 325px;

$length-card-width:350px;

$mat-card-height : 310px;

$app-form-height: 420px;
$content-font-size: 12px;
$header-font-size: 16px;

.mat-card {
  padding: 10px !important;
}

.app-form-container {
  display: flex;
  flex-direction: column;

  ::ng-deep {

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    .mat-card-header-text {
      margin: 0px !important;
    }

    .mat-form-field {
      line-height: inherit;
    }

    .mat-card-header .mat-card-title {
      font-size: $header-font-size;
      margin-bottom: 8px;
    }

    .mat-card-content {
      font-size: $content-font-size;
    }

    .mat-form-field-subscript-wrapper {
      font-size: 85%;
    }

    .mat-card-subtitle {
      font-size: 10px;
      margin-bottom: 5px;
    }

    .mat-card-header .mat-card-subtitle:not(:first-child) {
      margin-top: -8px;
    }


  }




  ::ng-content .toolbar-logout {
    .mat-raised-button {
      left: 1020px;
    }
  }

  .app-form-container>* {
    width: 100%;
  }

  .app-form-container-div {
    margin-top: 10px;
    height: $app-form-height;
    overflow-y: auto;
  }

  .headerToolBar span {
    font-weight: bold;
    font-size: 23px;
  }

  .vAlignTop {
    vertical-align: top;
  }

  mat-form-field {
    width: $fieldWidth;
  }

  .cardWidth {
    width: $cardWidth;
  }

  ::ng-deep .req-form-content {
    .mat-form-field-wrapper {
      width: $req-form-content-width;
    }
  }

  .req-form-card-width {
    width: $req-form-content-width;
    height: $mat-card-height;
  }

  ::ng-deep .attributeContentStyle {
    .mat-form-field-wrapper {
      width: $attributeContentStyleWidth;
    }
  }

  .attributeCardWidth {
    width: $attributeContentStyleWidth;
    height: $mat-card-height;
  }

  ::ng-deep .length-content-style {
    .mat-form-field-wrapper {
      width: $length-card-width;
    }
  }

  .length-card-width {
    width: $length-card-width;
    height: $mat-card-height;
  }

  ::ng-deep .attributeCardShortWidth {
    .mat-form-field-wrapper {
      width: $smallCardWidth !important;
    }
  }

  ::ng-deep .attributeCardShortWidth {
    ::ng-deep .mat-form-field {
      width: $smallCardWidth !important;
    }
  }

  .smallCardWidth {
    width: $smallCardWidth;
  }

  ::ng-deep .length-triple-card {
    .mat-form-field-wrapper {
      width: $triple-card-width !important;
    }
  }

  ::ng-deep .length-triple-card {
    ::ng-deep .mat-form-field {
      width: $triple-card-width !important;
    }
  }



  ::ng-deep .req-form-content-table {
    .mat-form-field-wrapper {
      width: $double-card-width !important;
    }
  }

  ::ng-deep .req-form-content-table {
    ::ng-deep .mat-form-field {
      width: $double-card-width !important;
    }
  }

  .double-card {
    width: $double-card-width;
  }

}

.mat-option {
  font-size: $content-font-size !important;
  line-height: 40px !important;
  height: 40px !important;
}

.mat-button-wrapper {
  color: mediumspringgreen;
}
