<!-- <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar> -->
<app-header></app-header>
<div class="app-form-container">
  <form [formGroup]="formGroup" class="form" novalidate>
    <div align="center" class="app-form-container-div">
      <mat-card class="mat-card mat-elevation-z3">
        <mat-card-content>
          <div align="center">
            <table border="0">
              <tr>
                <td class="vAlignTop">
                  <mat-card class="req-form-card-width mat-elevation-z3">
                    <mat-card-header align="left">
                      <mat-card-title>Request Form</mat-card-title>
                      <!-- <mat-card-subtitle>Please fill all the below fields to generate data
                                            </mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-content class="mat-card-content req-form-content">
                      <div class="pad20">
                        <mat-form-field appearance="outline">
                          <mat-label>File Name <span class="required">*</span></mat-label>
                          <input matInput formControlName="FileName" autocomplete="off" placeholder="File Name"
                            (keyup)="onChange('FileName', 'required')">
                          <mat-error *ngIf="!isSubmitted && formGroup.controls['FileName'].hasError('required')">
                            {{ getObjectValue('FileName', error) }}
                          </mat-error>
                          <mat-hint>{{ getHintMessage('FileName') }}</mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="pad20">
                        <mat-form-field appearance="outline">
                          <mat-label>Destination <span class="required">*</span></mat-label>
                          <input matInput formControlName="Destination" autocomplete="off"
                            placeholder="Destination Path" (keyup)="onChange('Destination', 'required')">
                          <mat-error *ngIf="!isSubmitted && formGroup.controls['Destination'].hasError('required')">
                            {{ getObjectValue('Destination', error) }}
                          </mat-error>
                          <mat-hint>{{ getHintMessage('Destination') }}</mat-hint>
                        </mat-form-field>
                      </div>

                      <div class="pad20">
                        <table class="req-form-content-table" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="double-card">
                              <mat-form-field appearance="outline">
                                <mat-label>No. Of Columns <span class="required">*</span></mat-label>
                                <input matInput formControlName="NoOfCols" autocomplete="off"
                                  placeholder="Number of Columns" (keyup)="onChange('NoOfCols', 'required')"
                                  (blur)="onChange('NoOfCols', 'required')" type="number">
                                <mat-error *ngIf="!isSubmitted && formGroup.controls['NoOfCols'].hasError('required')">
                                  {{ getObjectValue('NoOfCols', error) }}
                                </mat-error>
                                <mat-hint>{{ getHintMessage('NoOfCols') }}</mat-hint>
                              </mat-form-field>
                            </td>
                            <td width="10"></td>
                            <td class="double-card">
                              <mat-form-field appearance="outline">
                                <mat-label>No. Of Rows <span class="required">*</span></mat-label>
                                <input type="number" matInput formControlName="NoOfRows" autocomplete="off"
                                  placeholder="Number of Rows" (blur)="onChange('NoOfRows', 'required')"
                                  (keyup)="onChange('NoOfRows', 'required')">
                                <mat-error *ngIf="!isSubmitted && formGroup.controls['NoOfRows'].hasError('required')">
                                  {{ getObjectValue('NoOfRows', error) }}
                                </mat-error>
                                <mat-hint>{{ getHintMessage('NoOfRows') }}</mat-hint>
                              </mat-form-field>
                            </td>
                          </tr>
                        </table>

                      </div>

                      <div class="pad20">
                        <mat-form-field appearance="outline">
                          <mat-label>Enter Column Delimeter <span class="required">*</span></mat-label>
                          <input matInput formControlName="ColDelimeter" autocomplete="off"
                            placeholder="Enter Column ColDelimeter" (keyup)="onChange('ColDelimeter', 'required')">
                          <mat-error *ngIf="!isSubmitted && formGroup.controls['ColDelimeter'].hasError('required')">
                            {{ getObjectValue('ColDelimeter', error) }}
                          </mat-error>
                          <mat-hint>{{ getHintMessage('ColDelimeter') }}</mat-hint>
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td width="5"></td>
                <td class="vAlignTop">
                  <mat-card class="length-card-width mat-elevation-z3">
                    <mat-card-header align="left">
                      <mat-card-title>Attributes</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content length-content-style">
                      <div class="pad20">
                        <mat-form-field appearance="outline">
                          <mat-label>Attribute Name</mat-label>
                          <input matInput formControlName="AttributeName" autocomplete="new-password"
                            placeholder="Enter Attribute Name">
                          <!-- <mat-error *ngIf="formGroup.controls['AttributeName'].invalid">
                                                        {{ validateAttributeName() }}
                                                    </mat-error> -->
                        </mat-form-field>
                      </div>
                      <div class="pad20">
                        <mat-form-field appearance="outline">
                          <mat-label>Data Type</mat-label>
                          <input matInput placeholder="Data Type" aria-label="Data Type"
                            [matAutocomplete]="autoDataType" autocomplete="off" formControlName="DataType"
                            (select)="processFilterDataPattern()">
                          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                          <mat-autocomplete #autoDataType="matAutocomplete">
                            <mat-option *ngFor="let item of filterDataTypeList | async" [value]="item.name">
                              <span>{{item.name}}</span>
                            </mat-option>
                          </mat-autocomplete>
                          <!-- <mat-error *ngIf="formGroup.controls['DataType'].invalid">
                                                        {{ validateDataType() }}
                                                    </mat-error> -->
                          <!-- <mat-error
                                                                                *ngIf="formGroup.controls['DataType'].hasError('required')">
                                                                                Please select data type
                                                                            </mat-error> -->
                          <!-- <mat-hint>{{requestTypeControl.value?.id}}</mat-hint> -->
                        </mat-form-field>
                      </div>

                      <div class="pad20">
                        <mat-form-field appearance="outline">
                          <mat-label>Data Pattern</mat-label>
                          <input matInput formControlName="DataPattern" [matAutocomplete]="autoDataPattern"
                            aria-label="Data Pattern" autocomplete="off" placeholder="Enter Data Pattern Name">
                          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                          <mat-autocomplete #autoDataPattern="matAutocomplete">
                            <mat-option *ngFor="let item of filterDataPatternList | async" [value]="item.name">
                              <span>{{item.name}}</span>
                            </mat-option>
                          </mat-autocomplete>
                          <!-- <mat-error *ngIf="formGroup.controls['DataPattern'].invalid">
                                                        {{ validateDataPattern() }}
                                                    </mat-error> -->
                        </mat-form-field>
                      </div>


                    </mat-card-content>
                  </mat-card>
                </td>
                <td width="5"></td>
                <td class="vAlignTop">
                  <mat-card class="attributeCardWidth mat-elevation-z3">
                    <mat-card-header align="left">
                      <mat-card-title>Length & Characters</mat-card-title>
                      <!-- <mat-card-subtitle>Please select any options below</mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-content class="mat-card-content attributeContentStyle">

                      <div class="pad20">
                        <table class="attributeCardShortWidth" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="smallCardWidth">
                              <mat-form-field appearance="outline">
                                <mat-label>Starting From <span class="required">*</span></mat-label>
                                <input type="number" matInput formControlName="StartingFrom" autocomplete="off"
                                  placeholder="Starting From" (blur)="onChange('StartingFrom', 'required')"
                                  (keyup)="onChange('StartingFrom', 'required')">
                                <mat-error
                                  *ngIf="!isSubmitted && formGroup.controls['StartingFrom'].hasError('required')">
                                  {{ getObjectValue('StartingFrom', error) }}
                                </mat-error>
                              </mat-form-field>
                            </td>
                            <td width="10"></td>
                            <td class="smallCardWidth">
                              <mat-form-field appearance="outline">
                                <mat-label>Ending To <span class="required">*</span></mat-label>
                                <input type="number" matInput formControlName="EndingTo" autocomplete="off"
                                  placeholder="Ending To" (blur)="onChange('EndingTo', 'required')"
                                  (keyup)="onChange('EndingTo', 'required')">
                                <mat-error *ngIf="!isSubmitted && formGroup.controls['EndingTo'].hasError('required')">
                                  {{ getObjectValue('EndingTo', error) }}
                                </mat-error>
                              </mat-form-field>
                            </td>
                          </tr>
                        </table>
                      </div>

                      <div class="pad20">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td class="length-triple-card vAlignTop">
                              <mat-form-field appearance="outline">
                                <mat-label>Starting Length <span class="required">*</span></mat-label>
                                <input type="number" matInput formControlName="StartingLength" autocomplete="off"
                                  placeholder="Starting Length" (blur)="onChange('StartingLength', 'required')"
                                  (keyup)="onChange('StartingLength', 'required')">
                                <mat-error
                                  *ngIf="!isSubmitted && formGroup.controls['StartingLength'].hasError('required')">
                                  {{ getObjectValue('StartingLength', error) }}
                                </mat-error>
                              </mat-form-field>
                            </td>
                            <td width="10"></td>
                            <td class="length-triple-card vAlignTop">
                              <mat-form-field appearance="outline">
                                <mat-label>Ending Length <span class="required">*</span></mat-label>
                                <input type="number" matInput formControlName="EndingLength" autocomplete="off"
                                  placeholder="Ending Length" (blur)="onChange('EndingLength', 'required')"
                                  (keyup)="onChange('EndingLength', 'required')">
                                <mat-error
                                  *ngIf="!isSubmitted && formGroup.controls['EndingLength'].hasError('required')">
                                  {{ getObjectValue('EndingLength', error) }}
                                </mat-error>
                              </mat-form-field>
                            </td>
                            <td width="10"></td>
                            <td class="length-triple-card vAlignTop">
                              <mat-form-field appearance="outline">
                                <mat-label>Fixed Length <span class="required">*</span></mat-label>
                                <input type="number" matInput formControlName="FixedLength" autocomplete="off"
                                  placeholder="Fixed Length" (blur)="onChange('FixedLength', 'required')"
                                  (keyup)="onChange('FixedLength', 'required')">
                                <mat-error
                                  *ngIf="!isSubmitted && formGroup.controls['FixedLength'].hasError('required')">
                                  {{ getObjectValue('FixedLength', error) }}
                                </mat-error>
                              </mat-form-field>
                            </td>
                          </tr>
                        </table>
                      </div>

                      <div class="pad20">
                        <mat-form-field appearance="outline">
                          <mat-label>Characters For [...]</mat-label>
                          <input matInput formControlName="CharactersFor" autocomplete="off"
                            placeholder="Enter Characters for">
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </table>
          </div>

        </mat-card-content>
      </mat-card>

    </div>

    <div align="center">
      <mat-card class="generate-style">
        <mat-card-content>
          <p>
            <button mat-raised-button color="primary" [matTooltip]="getTooltipText('Generate')"
              [disabled]="isFormInValid" (click)="onSubmit(formGroup.value)">Generate</button>&nbsp;&nbsp;
            <button mat-raised-button color="secondary" [matTooltip]="getTooltipText('Reset')"
              (click)="onReset()">Reset</button>
          </p>
          <!--  -->
        </mat-card-content>
      </mat-card>
    </div>


  </form>
</div>

<ng-template #forminfo>
  <div class="container">
    {{ post | json }}
  </div>
</ng-template>
