
<app-header></app-header>
<div class="app-form-container" *ngIf="!post; else forminfo" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
        <div align="left" class="app-form-container-div">
            <mat-card>
                <mat-card-content>
                    <div align="center">
                        <mat-card class="cardWidth">
                            <mat-card-header align="left">
                                <mat-card-title>Data Generator Tool</mat-card-title>
                                <mat-card-subtitle>Tool that generates the data generation based on the below
                                    information
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>File Name</mat-label>
                                        <input type="text" matInput formControlName="fileName" autocomplete="off"
                                            placeholder="File Name" required>
                                        <mat-error *ngIf="formGroup.controls['fileName'].invalid">{{validateFileName()}}
                                        </mat-error>
                                        <mat-hint>{{getFileNameHint()}}</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Destination</mat-label>
                                        <input type="text" matInput formControlName="destination" autocomplete="off"
                                            placeholder="Destination Path" required>
                                        <mat-error *ngIf="formGroup.controls['destination'].invalid">
                                            {{ validateDestination() }}</mat-error>
                                        <mat-hint>{{getDestinationHint()}}</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>No. Of Columns</mat-label>
                                        <input type="number" matInput formControlName="noOfCols" autocomplete="off"
                                            placeholder="Number of Columns" required>
                                        <mat-error *ngIf="formGroup.controls['noOfCols'].invalid">
                                            {{ validateNoOfCols() }}</mat-error>
                                        <mat-hint>{{getNoOfColsHint()}}</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>No. Of Rows</mat-label>
                                        <input type="number" matInput formControlName="noOfRows" autocomplete="off"
                                            placeholder="Number of Rows" required>
                                        <mat-error *ngIf="formGroup.controls['noOfRows'].invalid">
                                            {{ validateNoOfRows() }}</mat-error>
                                        <mat-hint>{{getNoOfRowsHint()}}</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter Column Decimeter</mat-label>
                                        <input matInput formControlName="colDecimeter" autocomplete="off"
                                            placeholder="Enter Column Decimeter" required>
                                        <mat-error *ngIf="formGroup.controls['colDecimeter'].invalid">
                                            {{ validateDecimeter() }}</mat-error>
                                        <mat-hint>{{getColDecimeterHint()}}</mat-hint>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div align="center" style="margin-top:20px;">
                        <table border="0">
                            <tr>
                                <td class="vAlignTop">
                                    <mat-card class="attributeCardWidth">
                                        <mat-card-header align="left">
                                            <mat-card-title>Attributes</mat-card-title>
                                            <!-- <mat-card-subtitle>Please select any options below</mat-card-subtitle> -->
                                        </mat-card-header>
                                        <mat-card-content class="mat-card-content attributeContentStyle">
                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Attribute Name</mat-label>
                                                    <input type="text" matInput formControlName="attributeName"
                                                        autocomplete="off" placeholder="Enter Attribute Name">
                                                    <mat-error *ngIf="formGroup.controls['attributeName'].invalid">
                                                        {{ validateAttributeName() }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Data Name</mat-label>
                                                    <input matInput formControlName="dataName" autocomplete="off"
                                                        placeholder="Enter Data Name">
                                                    <mat-error *ngIf="formGroup.controls['dataName'].invalid">
                                                        {{ validateDataName() }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Data Pattern</mat-label>
                                                    <input matInput formControlName="dataPattern" autocomplete="off"
                                                        placeholder="Enter Data Pattern Name">
                                                    <mat-error *ngIf="formGroup.controls['dataPattern'].invalid">
                                                        {{ validateDataPattern() }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>


                                        </mat-card-content>
                                    </mat-card>
                                </td>
                                <td width="10"></td>
                                <td class="vAlignTop">
                                    <mat-card class="attributeCardWidth">
                                        <mat-card-header align="left">
                                            <mat-card-title>Length & Characters</mat-card-title>
                                            <!-- <mat-card-subtitle>Please select any options below</mat-card-subtitle> -->
                                        </mat-card-header>
                                        <mat-card-content class="mat-card-content attributeContentStyle">

                                            <div>
                                                <table class="attributeCardShortWidth" border="0" cellpadding="0"
                                                    cellspacing="0">
                                                    <tr>
                                                        <td class="smallCardWidth">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Starting From</mat-label>
                                                                <input type="number" matInput
                                                                    formControlName="startingFrom" autocomplete="off"
                                                                    placeholder="Starting From">
                                                                <mat-error
                                                                    *ngIf="formGroup.controls['startingFrom'].invalid">
                                                                    {{ validateStartingFrom() }}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </td>
                                                        <td width="10"></td>
                                                        <td class="smallCardWidth">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Ending To</mat-label>
                                                                <input type="number" matInput formControlName="endingTo"
                                                                    autocomplete="off" placeholder="Ending To">
                                                                <mat-error
                                                                    *ngIf="formGroup.controls['endingTo'].invalid">
                                                                    {{ validateEndingTo() }}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div>
                                                <table class="attributeTripleCardWidth" border="0" cellpadding="0"
                                                    cellspacing="0">
                                                    <tr>
                                                        <td class="tipleCardWidth vAlignTop">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Starting Length</mat-label>
                                                                <input type="number" matInput
                                                                    formControlName="startingLength" autocomplete="off"
                                                                    placeholder="Starting Length">
                                                                <mat-error
                                                                    *ngIf="formGroup.controls['startingLength'].invalid">
                                                                    {{ validateStartingLen() }}</mat-error>
                                                            </mat-form-field>
                                                        </td>
                                                        <td width="10"></td>
                                                        <td class="tipleCardWidth vAlignTop">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Ending Length</mat-label>
                                                                <input type="number" matInput
                                                                    formControlName="endingLength" autocomplete="off"
                                                                    placeholder="Ending Length">
                                                                <mat-error
                                                                    *ngIf="formGroup.controls['endingLength'].invalid">
                                                                    {{ validateEndingLen() }}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </td>
                                                        <td width="10"></td>
                                                        <td class="tipleCardWidth vAlignTop">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Fixed Length</mat-label>
                                                                <input type="number" matInput
                                                                    formControlName="fixedLength" autocomplete="off"
                                                                    placeholder="Fixed Length">
                                                                <mat-error
                                                                    *ngIf="formGroup.controls['fixedLength'].invalid">
                                                                    {{ validateFixedLen() }}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </td>


                                                    </tr>
                                                </table>
                                            </div>

                                            <div>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Characters For [...]</mat-label>
                                                    <input matInput formControlName="charactersFor" autocomplete="off"
                                                        placeholder="Enter Characters for">
                                                    <mat-error *ngIf="formGroup.controls['charactersFor'].invalid">
                                                        {{ validateCharactersFor() }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </td>
                            </tr>
                        </table>

                    </div>

                </mat-card-content>
            </mat-card>
        </div>

        <div align="center">
            <mat-card class="generate-style">
                <mat-card-content>
                    <p>
                        <button mat-raised-button color="primary" matTooltip="Generate the data">Generate</button>
                        <!-- &nbsp; &nbsp;
    <button mat-raised-button matTooltip="Cancel and Discard changes">Cancel</button> -->
                    </p>
                </mat-card-content>
            </mat-card>
        </div>


    </form>
</div>

<ng-template #forminfo>
    <div class="container">
        {{ post | json }}
    </div>
</ng-template>
